{% extends "layout.html" %}

{% block content %}
<p>All Students :</p>

<table>
<tr>
  <td>Name</td>
  <td>Age</td>
  <td>Gender</td>
  <td>Phone</td>
</tr>
{% for n in StdName %}
<tr>
  <td>{{ n.StdName }}</td>
  <td>{{ n.StdAge }}</td>
  <td>{{ n.StdGender }}</td>
  <td>{{ n.StdPhone }}</td>
</tr>
{% else %}
<tr>
  <td>No Data</td>
  <td>No Data</td>
  <td>No Data</td>
  <td>No Data</td>
</tr>
{% endfor %}
</table>

{% endblock %}
