{% extends "layout.html" %}

{% block content %}
<p>All Students :</p>

<ul>
{% for n in StdName %}
  <li> {{ n.StdName }} {{ n.StdAge }} {{ n.StdGender }} {{ n.StdPhone }} </li>
{% else %}
  <li>Nameless!</li>
{% endfor %}
</ul>

{% endblock %}
