{% extends "layout.html" %}

{% block content %}

<form action="index.php" method="post">
  Name: <input type="text" name="name"><br>
  Age: <input type="text" name="age"><br>
  Gender: <input type="text" name="gender"><br>
  Phone: <input type="text" name="phone"><br>

<input type="submit">
</form>

Welcome <?php echo $_POST["name"]; ?><br>
Your email address is: <?php echo $_POST["email"]; ?>

<a href="/display/">Click me</a>


{% endblock %}
